body {
  font-family: "Courier New", Courier, monospace;
}

.arrow {
  pointer-events: none;
}

svg:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px gray;
}
.arrow__path {
  stroke: #000;
  fill: transparent;
  stroke-dasharray: 4 2;
}
.arrow__path:active {
  stroke: blue;
}
.arrow__head {
  stroke-width: 1px;
}

#from,
#to {
  height: 100px;
  width: 68px;
}

#from {
  top: 20px;
}

#to {
  top: 20px;
}

.rack {
  border: 1px solid gray;
  background: lightgray;
  padding: 5px;
  height: 100px;
  width: 40px;
}
